p {
  font-family: verdana;
  font-size: 14px;
}

.page-title {
    align-content: center;
}

h1.logo a{
    color: white;
}

body{
    margin: 0px;
    padding: 0px;
}

a:link {
    text-decoration: none;
}

.navbar{
    color: rgb(55, 57, 73);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b69a5;
    padding: 20px 20px;
    top: 0px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-list a{
    color: white;
}

.about {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background-color: #91a9da;
    margin: 15px;
    border-radius: 10px;
}

h1.page-title {
    text-align: center;
}

.about-text p{
    font-size: 20px;
    margin-left: 30px;
}

.footer {
    bottom: 0px;
    text-align: center;
}

.blog-images{
    display: flex;
    justify-content: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

input[type="text"], input[type="email"], input[type="message"], textarea {
    margin-bottom: 15px;
    padding-bottom: 20px;
    width: 400px;
}

input[type="submit"] {
    margin-top: 15px;
}
